<!-- wp:template-part {"slug":"site-header","theme":"intt-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
  <!-- wp:template-part {"slug":"inicio-hero","theme":"intt-theme","tagName":"div"} /-->
  <!-- wp:template-part {"slug":"inicio-acceso","theme":"intt-theme","tagName":"div"} /-->
  <!-- wp:pattern {"slug":"intt-theme/inicio-tramites-frecuentes"} /-->
  <!-- wp:pattern {"slug":"intt-theme/inicio-noticias"} /-->
  <!-- wp:template-part {"slug":"inicio-radio","theme":"intt-theme","tagName":"div"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"intt-theme","tagName":"footer"} /-->