<!-- wp:template-part {"slug":"site-header","theme":"intt-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"intt-theme/inicio-hero"} /-->
<!-- wp:pattern {"slug":"intt-theme/inicio-tramites-frecuentes"} /-->
<!-- wp:pattern {"slug":"intt-theme/inicio-otros-tramites"} /-->
<!-- wp:pattern {"slug":"intt-theme/inicio-noticias"} /-->
<!-- wp:pattern {"slug":"intt-theme/inicio-radio"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"intt-theme","tagName":"footer"} /-->
