<!-- wp:template-part {"slug":"site-header","theme":"intt-theme","tagName":"header"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-top:0">
  <!-- wp:breadcrumbs {"align":"wide","showCurrentItem":false,"style":{"spacing":{"padding":{"top":"var:preset|spacing|sp-24","bottom":"var:preset|spacing|sp-24"}},"border":{"bottom":{"color":"var:preset|color|gris-200","width":"1px"}}}} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|sp-0","bottom":"var:preset|spacing|sp-0"}}},"layout":{"type":"constrained","contentSize":"var(--wp--style--global--wide-size)"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--sp-0);margin-bottom:var(--wp--preset--spacing--sp-0)">

  <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|sp-48","bottom":"var:preset|spacing|sp-64"}}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--sp-48);padding-bottom:var(--wp--preset--spacing--sp-64)">

    <!-- wp:post-title {"level":1,"lock":{"move":true,"remove":true},"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|sp-8"}}}} /-->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

    <!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|sp-48"}}}} -->
    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--sp-48)">
      <!-- wp:intt/biblioteca-list {"lock":{"move":true,"remove":true}} /-->
    </div>
    <!-- /wp:group -->

  </div>
  <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"intt-theme","tagName":"footer"} /-->
