<!-- wp:template-part {"slug":"site-header","theme":"intt-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--0);margin-bottom:var(--wp--preset--spacing--0)">
<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|sp-48","bottom":"var:preset|spacing|sp-48"},"margin":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0"}}},"layout":{"type":"flow"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--0);margin-bottom:var(--wp--preset--spacing--0);padding-top:var(--wp--preset--spacing--sp-48);padding-bottom:var(--wp--preset--spacing--sp-48)"><!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|sp-8"}}}} /-->

<!-- wp:post-content {"lock":{"move":true,"remove":true},"layout":{"type":"flow"}} /-->

<!-- wp:paragraph {"className":"has-heading-4-font-size","lock":{"move":true,"remove":true},"style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"margin":{"top":"var:preset|spacing|sp-16","bottom":"0"}}}} -->
<p class="has-heading-4-font-size" style="font-style:normal;font-weight:700;margin-top:var(--wp--preset--spacing--sp-16);margin-bottom:0">A–Z</p>
<!-- /wp:paragraph -->

<!-- wp:intt/estado-cards {"lock":{"move":true,"remove":true}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"intt-theme","tagName":"footer"} /-->
